
.square {
        width: 240px;
        height: 300px;
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
        position: relative;
}
.sq01 {
    background-image: url("img/pd1.jpeg");
}
.sq02 {
    background-image: url("img/pd2.jpeg");
}
.sq03 {
    background-image: url("img/pd3.jpeg");
}

body {
    margin: 10%;
}

.green {
    font-size: 12px;
    background-color: green;
    width: 30px;
    height: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.red {
    font-size: 12px;
    background-color: red;
    width: 30px;
    height: 15px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}


/* to center properly */
